.conteiner__big-card {
  width: 500px;
  height: 550px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 50px;
}
.big-card__photo > img{
  width: 100%;
  min-width: 500px;
  height: 250px;
}

.big-card__date {
  color: #343434;
  font-size: 10px;
}

.big-card__title>a {
  font-size: 20px;
  margin: 10px 0 15px 0;
}
.big-card__title>a:hover {
  color: #433d3d;
}
.big-card__description {
  color: #808080;
}

.big-card__autor {
  margin: .5rem 0;
  color: #808080;
  font-size: 10px;
}
