<div class="conteiner__small-card">
  <a [routerLink]="['content/', id]">
    <div class="conteiner__small-card-content">
      <div class="small-card__photo">
        <img src="{{ photoCover }}" alt="" />
      </div>
      <div class="small-card__conteiner-text">
        <div class="small-card__date">
          <p>{{ cardDate }}</p>
        </div>
        <div class="small-card__title">
          <p>
            {{ cardTitle }}
          </p>
        </div>
        <div class="small-card__autor">
          <p>{{ cardAutor }}</p>
        </div>
      </div>
    </div>
  </a>
  <hr />
  <!-- -->
</div>
